<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'photos/home-banner.jpg' %>);">
  <div class="container">
    <h1>Vinyl MP is where <strong>music lovers</strong> find their most <strong>precious records</strong> !</h1>
    <p>Share your vinyls collection and make it grow with others passionate people.</p>
    <a class="btn btn-primary" href="#">Bouton</a>
  </div>
</div>
