<div class="banner">
  <div class="container">
    <h1 class="text-primary">BaZaR is where <strong>music lovers</strong> find their most <strong>precious records</strong> !</h1>
    <p class="text-dark">Share your vinyls collection and make it grow with others passionate people.</p>
    <%= link_to "Go to store", vinyls_path, class:"btn btn-primary text-light" %>
  </div>
</div>
